.footer {
    &__wrapper {
        max-width: 1024px;
        margin: 0 auto;

        .footer {
            position: relative;
            background: #fff;
            padding: $footer-gap 0;

            a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }

            @media #{$medium-up} {
                padding: 50px 0;
            }

            @media #{$large-up} {
                width: 1024px;
                padding: 50px 0 50px;
            }

            .home-page {
                &__social-logo {
                    background: url(/assets/logo/follow-homes-to-love-logo.svg) no-repeat;
                    background-size: contain;
                    height: 0;
                    padding-bottom: 6%;
                    width: 100%;
                    max-width: 370px;
                    min-width: 250px;
                    display: inline-block;
                    margin-bottom: 0px;
                    background-position: center;

                    @media #{$medium-up} {
                        padding-bottom: 4%;
                    }
                }

                &__get-social-container {
                    text-align: center;
                    margin-bottom: 35px;
                }
            }

            &__copyright {
                line-height: 15px;
                padding-top: 4px;
                text-align: center;

                span {
                    color: #999;
                    font-family: $small-text-font;
                    font-size: 12px;
                    letter-spacing: .020em;
                    text-transform: uppercase;
                }
            }
        }
    }
}
