// Primary color
$color-primary: #49bf5c;

// Brand colors
$color-homes-plus: #f64592;
$color-house-and-garden: #4f76d5;
$color-belle: #b6956a;
$color-real-living: #01c6bb;

// Social
$facebook-blue: #597acb;
$twitter-blue: #5dc8ff;
$pinterest-red: #dd2724;
$instagram-brown: #b6956a;

// Variants
$color-primary-light: #89d595;
$color-homes-plus-light: #f986b8;
$color-house-and-garden-light: #8ca6e4;
$color-belle-light: #cfba9e;
$color-real-living-light: #5adad3;

// B&W and Greys
$color-black: #666;
$color-black-light: #222;
$color-grey-darker: #333;
$color-grey-dark: #777;
$color-grey: #888;
$color-grey-light: #bbb;
$color-grey-lighter: #f7f7f7;
$color-white: #fff;

// Other
$line-color: #ddd;
$color-section-separator: #e5e5e5;
$color-header-menu-button: #555;
$color-footer-grey: #555;

// Social
$facebook-color : #3B5998;
$twitter-color: #00ACED;

$facebook-footer-color: $facebook-color;
$twitter-footer-color: #03B3EE;
$instagram-footer-color: #FFA800;
$pinterest-footer-color: #C92228;
