.site-wrapper {
    max-width: $large-range-min;
    margin: 0 auto;
    z-index: $z-index-0;

    .homepage {
        @include homepage-gap-from-nav-to-top-mrec;
        @media #{$large-up} {
            margin-top: 0;
        }
    }

    .brand {
        @include brand-gap-from-nav-to-top-mrec;
    }
}

.uniheader {
    position: relative;
    z-index: $z-index-1;
}

.header__sections {
    position: initial;
    z-index: $z-index-1;
}

.ad--section-top-leaderboard {
    @media #{$medium-up} {
        position: relative;
        z-index: $z-index-1;
    }

    @media #{$large-up} {
        max-width: $large-range-min;
    }
}

.ad--wallpaper-wrapper {
    position: fixed;
    top: $header-height-medium-up;
    left: calc((100% - 1920px) / 2);
    width: 100%;
    z-index: $z-index-minus-1;

    @media (min-width: 1940px) {
        left: 0;
    }
}
