.gallery-section {
	.content-body {
		font-size: 16px;
		color: #999;
	}

	.content-body__related-content {
		padding-bottom: 25px !important;
	}

	.article__summary {
		color: #999;
		font-size: 18px;
	}

	.gallery__caption p {
		font-size: 14px;
		color: #888;
	}

	.gallery__item-count {
		font-size: 14px;
	}

	.gallery__item-content {
		padding-left: 15px;
		padding-right: 15px;

		@media #{$large-up} {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}
