.error-page {
    @include grid-row;

    padding: {
        bottom: 120px;
        top: 180px;
    }

    @media #{$medium-up} {
        padding: {
            bottom: 200px;
            top: 300px
        }
    }

    &__title,
    &__body-item,
    &__footer {
        @include grid-column(12);
        text-align: center;
    }

    &__title,
    &__body-item {
        @include type-error-page;
    }

    &__footer {
        margin-top: 30px;
        font-family: $font-family-sans-serif-primary;
        color: $color-primary;

        @media #{$small-only} {
            font-size: 14px;
        }
    }
}

.default-template--unknown {
    // TODO - Clean this up and add a proper error class to the page template

    .header__sections {
        display: none;
    }

    .buy-magazines {
        display: none;
    }

    .social-links--in-header-banner {
        display: none;
    }

    .header-banner {

        &__inner {
            text-align: center !important;
            padding: 35px 85px;
        }

        .icon-logo {
            font-size: 60px;

            @media #{$medium-up} {
                font-size: 105px;
            }
        }
    }

    .header--expanded.header--pinned:not(.header--hidden) .header-banner {
        display: block;
    }
}
