$foo: #000;

@mixin some-mixin { 
  background: palegreen;
}

.Article2 {
  // composes: anotherUnusedClass__workaround__item--isDisabled from '@bxm/article/styles/components/article/_credits.module.scss';
  border: 1px solid $foo;
  @include some-mixin();
}