$small-range-min: 0;
$small-range-max: 690px;
$medium-range-min: 691px;
$medium-range-max: 1023px;
$large-range-min: 1024px;
$large-range-max: 1348px;
$xlarge-range-min: 1349px;
$xlarge-range-max: 9999999px;

// Ads custom breakpoints
$banner-range-min: 320px;
$banner-range-max: 727px;
$leaderboard-range-min: 728px;
$leaderboard-range-max: 1023px;
