// scss-lint:disable LeadingZero, PropertySortOrder
.social_share_container--gallery .social-share-count {
    color: $color-grey-darker;
    font-size: 15px;
    font-family: $font-family-sans-serif-primary;
    font-weight: 800;
    position: relative;
    margin-right: 0;
    width: 40px;

    @media #{$large-up} {
        margin-right: 15px;
        width: 60px;
        margin-left: 4px;
    }

    &:before,
    &:after {
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-right: 12px solid $white;
        left: -11px;
        content: '';
        top: 50%;
        bottom: initial;
        right: initial;
        margin-top: -10px;
        position: absolute;
        width: 0;
        height: 0;
        transform: scaleX(0.85);
    }

    &:before {
        border-bottom: 11px solid transparent;
        border-top: 11px solid transparent;
        border-right: 13px solid $color-grey-light;
        content: '';
        left: -12px;
        margin-top: -11px;
    }
}
