.homepage {
    margin: 0 auto;
    max-width: 1024px;

    .home__body {

        .ad {
            &--section-middle-leaderboard {
                margin-top: $standard-spacer-height;
                margin-bottom: $standard-spacer-height;

                @media #{$medium-up} {
                    margin-top: 1.5 * $standard-spacer-height;
                    margin-bottom: 1.5 * $standard-spacer-height;
                }

                @media #{$large-up} {
                    margin-top: 2 * $standard-spacer-height;
                    margin-bottom: 2 * $standard-spacer-height;
                }
            }

            &--section-bottom-leaderboard {
                margin-top: $standard-spacer-height;
                margin-bottom: $standard-spacer-height;
                padding-bottom: $standard-spacer-height;

                @media #{$medium-up} {
                    margin-top: 1.5 * $standard-spacer-height;
                    margin-bottom: 2 * $standard-spacer-height;
                    padding-bottom: 0px;
                }
            }
        }

        .home-section {

            @include teaser-title-config;
            @include teaser-show-secondary-tag;
            @include teaser-hide-summary;
            @include teaser-show-source;

            .columns {
                padding-left: $column-gutter / 4;
                padding-right: $column-gutter / 4;
            }

            @media #{$medium-up} {
                .columns {
                    padding-left: $column-gutter / 2;
                    padding-right: $column-gutter / 2;
                }
            }

            &--top {

                @include adjust-side-margins;

                .top-teasers {

                    @include spacer-right-hand-rail;

                    @include adjust-side-padding;

                    .teaser {

                        &--hero {
                            display: none;
                        }

                        &.home-section-top-polar,
                        &--native,
                        &--img-top {
                            margin-bottom: $standard-spacer-height;
                        }

                        @media #{$medium-up} {

                            &--hero-img-top {
                                @include grid-column(12);
                            }

                            &.home-section-top-polar,
                            &--native {
                                @include grid-column(6);
                            }

                            &--img-top {
                                @include grid-column(6);
                                @include clear-left(even);
                            }
                        }

                        @media #{$large-up} {

                            &--hero-img-top {
                                display: none;
                            }

                            &--hero {
                                @include grid-column(12);
                                @include teaser-hide-source;
                                display: inline-block;
                                margin-bottom: 50px;

                                &__content {
                                    margin-left: 40px;
                                    margin-right: 55px;
                                }
                            }

                            &--img-top {
                                @include clear-left(odd);
                            }
                        }
                    }

                    .ad--section-mrec {

                        &.home-section-top-mrec-1 {
                            margin-bottom: $standard-spacer-height;
                        }

                        &.home-section-top-mrec-2 {
                            margin-bottom: 0px;
                        }

                        @media #{$medium-up} {

                            &.home-section-top-mrec-1 {
                                @include grid-column(6);
                            }

                            &.home-section-top-mrec-2 {
                                @include grid-column(6);
                            }
                        }
                    }
                }
            }

            &--bottom {

                @include adjust-side-margins;

                .bottom-teasers {

                    @include spacer-right-hand-rail;

                    @include adjust-side-padding;

                    .teaser {

                        &.home-section-bottom-polar,
                        &--native,
                        &--img-top {
                            margin-bottom: $standard-spacer-height;
                        }

                        @media #{$medium-up} {

                            &.home-section-bottom-polar,
                            &--native {
                                @include grid-column(6);
                            }

                            &--img-top {
                                @include grid-column(6);
                                @include clear-left(even);
                            }

                            &:last-of-type {
                                margin-bottom: 0px;
                            }
                        }

                        @media #{$large-up} {

                            &--img-top {
                                @include clear-left(odd);
                            }
                        }
                    }

                    .ad--section-mrec {

                        @media #{$medium-up} {
                            @include grid-column(6);
                        }
                    }
                }
            }
        }

        .fixed-column {

            &--sticky {

                @media #{$large-up} {
                    @include grid-column(4);
                }
            }
        }
    }
}
