$tl-header-primary-color: $color-primary;
$tl-header-max-width: $row-width;
$tl-header-font-family: $font-family-sans-serif-secondary;
$tl-header-heading-font-weight: 400;

//Header
@import './to-love/common';
@import './to-love/modal/modal';
@import './header/header';

.global-header-slider {
    position: relative;
    z-index: $z-index--network-header;
}
