.directory-filters {
  $self: &;
  display: flex;
  flex-direction: column;  
  padding-top: 15px;
  margin-bottom: 30px;

  @media #{$large-up} {
    padding: 0 15px;
  }

  &__wrapper {
    background-color: $color-grey-lighter;
  }

  &__title {
    text-align: center;
    margin-top: 15px;

    @media #{$medium-up} {
      padding: 10px 15px;
      text-align: left;
      margin-bottom: 0;
    }
  }

  &__title-text {
    font-size: 18px;
    text-transform: uppercase;
    font-family: $font-family-sans-serif-primary;    
    color: $color-black-light;
  }
  
  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;  
    flex: 1 0 100%;        
    padding: 15px;

    @media #{$medium-up} {
      flex-direction: row;
      padding: 0 15px 15px;
    }

  }

  .dropdown-select {
    margin-bottom: 15px;

    @media #{$medium-up} {
      margin-right: 15px;
    }

    @media #{$large-up} {
      margin-bottom: 0;
    }  
  }

  &__submit-button {
    align-self: flex-end;

    @media #{$medium-up} {
      align-self: baseline;
    }
  }
}
