.brand {
    &--belle {
        .button {
            background: $color-belle;
        }
    }

    &--real-living {
        .button {
            background: $color-real-living;
        }
    }

    &--homes-plus {
        .button {
            background: $color-homes-plus;
        }
    }

    &--australian-house-and-garden {
        .button {
            background: $color-house-and-garden;
        }
    }
}

.brand__wrapper {
    max-width: 1024px;
    margin: 0px auto;
}

.brand__logo {
    position: relative;
    z-index: $z-index-1;
    margin-bottom: 20px;
    text-align: center;

    img {
        height: 100%;
        max-height: 100px;
        width: 60%;
    }

    @media #{$medium-up} {
        margin: 0px 0 40px;
        background-color: $color-white;
    }

    @media #{$large-up} {
        padding-top: 10px;
        margin: 0px 0 30px;
        padding-bottom: 42px;
    }
}

.brand__body {
    @include teaser-hide-secondary-tag;

    @media #{$large-up} {
        @include teaser-show-secondary-tag;
    }

    margin: 0 auto;
    max-width: 1024px;

    .teaser__icon {
        display: none;
    }

    @media #{$small-only} {
        .ad--section-mrec {
            margin-bottom: 20px;
            @include grid-column(12);
        }
    }

    @media #{$large-up} {
        .ad--section-mrec-top-1, .ad--section-mrec-top2 {
            display: none;
        }

        .large-block-grid-2 > li:nth-of-type(1n) {
            clear: both;
        }

        .large-block-grid-2 > li:nth-of-type(2n+1) {
            clear: none;
        }
    }
}

.brand__body--fullwidth-ad {
    @media #{$large-up} {
        margin-bottom: 40px;
    }
}

.brand__body--bottom {
    padding-top: 0;
    margin-top: 10px;

    @media #{$large-up} {
        padding-left: $column-gutter / 2;
        padding-right: $column-gutter / 2;
    }
}

.ad--section-mrec {
    margin-bottom: 25px;
}

.brand__body, .brand-section--top, .brand__body--bottom {
    .fixed-column {
        @include grid-column(4);
    }
}

.brand-section {

    @include column-extra-side-gutter;

    .columns {
        padding-left: 0;
        padding-right: 0;
    }

    @media #{$small-only} {
        .ad {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @media #{$medium-up} {
        .columns {
            padding-left: $column-gutter / 2;
            padding-right: $column-gutter / 2;
        }
    }

    .teaser__title {
        @media #{$medium-up} {
            @include type-small-teaser-title;
        }

        @media #{$xlarge-up} {
            @include type-teaser-title;
        }
    }

    .brand-section {

        &--top-teasers {

            @include teaser-hide-summary-source;

            .teaser {

                margin-bottom: 0px;

                &--polar {

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        max-width: none;
                    }

                    a {
                        height: 0;
                        padding-bottom: 83%;
                        overflow: hidden;
                    }

                    &.polar--horizontal {

                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            height: 100%;
                            width: initial;
                            max-height: none;
                        }
                    }

                }

                &--hero {
                    @include teaser-show-summary;

                    margin-bottom: 20px;

                    .teaser__summary {
                        margin-bottom: 0;
                    }
                }

                @media #{$small-only} {
                    &--hero {
                        .teaser__content {
                            padding: 0 20px;
                        }
                    }
                }

                @media #{$medium-up} {

                    &--hero {
                        margin-bottom: 30px;

                        .teaser__content {
                            padding-bottom: 10px;
                        }
                    }
                }

                @media #{$large-up} {

                    &--hero {
                        @include teaser-hide-summary;
                        @include teaser-small-hero;

                        margin-bottom: 30px;

                        .teaser__tags {
                            margin: 0;
                        }
                    }
                }

                @media #{$xlarge-up} {
                    &--hero {
                        margin-bottom: 30px;
                    }
                }
            }

            @media #{$large-up} {
                border-right: 1px solid $color-section-separator;
                margin-bottom: 35px;
            }
        }
    }
}

.section__list {

    .teaser {
        &--polar {

            img {
                position: absolute;
                top: 0;
                left: 0;
                max-width: none;
            }

            a {
                padding-bottom: 79.5%;
                height: 0;
                overflow: hidden;

                @media #{$medium-only} {
                    padding-bottom: 82.5%
                }

                @media #{$large-up} {
                    padding-bottom: 41.7%;
                }
            }

            &.polar--horizontal {

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 100%;
                    width: initial;
                    max-height: none;
                }
            }
        }
    }
}

.brand-section--repeat {

    .teaser {

        @media #{$small-only} {
            padding: 0 15px;

            &--img-top {
                &:nth-of-type(n) {
                    @include columns-half-gutter(even);
                }
            }
        }

        @media #{$medium-only} {
            @include grid-column(6);

            &--hero {
                margin-left: -$column-gutter / 2;
                margin-right: -$column-gutter / 2;

                .teaser__title {
                    @include type-hero-title;
                }
            }

            &--img-left {
                @include teaser-hide-summary-source;
            }

        }

        @media #{$medium-up} {
            @include teaser-tag-over-img;

            &--img-left {
                @include clear-left(odd);
            }
        }

        @media #{$large-up} {
            &:nth-of-type(n+7) {
                @include grid-column(6);
            }

            .teaser__summary {
                display: block;
            }

            &:nth-of-type(5) {
                clear: both;
            }

            &--img-left {
                width: 100%;
            }

            .teaser__title {
                margin-bottom: 5px;
            }

            .teaser__content {
                text-align: left;
                position: absolute;
                margin-top: -10px;
                padding: 0 26px 25px;
            }

            .teaser__tags {
                @include teaser-tag-over-img;
                margin-bottom: 5px;
                margin-top: 0px;
            }

            .teaser__source {
                display: none;
            }

        }
    }

    .ad--section-mrec {
        @media #{$medium-up} {
            @include grid-column(6);
        }

        @media #{$large-only} {
            clear: both;
        }

        @media #{$large-up} {
            @include grid-column(4);
        }

        @media #{$xlarge-up} {
            @include grid-column(3);
        }
    }
}

.brand-section--bottom-teasers {

    @media #{$large-up} {
        border-right: 1px solid $color-section-separator;
        margin-bottom: 40px;
    }

}




