// Sections/groups of teasers.

$section-minor-bp-1: 1590px;

.section-landing {
    @media #{$medium-up} {
        padding-top: 40px;
    }
}

.section-heading {
    @include grid-column(12);

    h1 {
        @include type-section-heading;
        margin-bottom: 40px;

        @media #{$medium-up} {
            margin-bottom: 60px;
        }
    }
}

// Hero group
.section--heroes {
    @include column-full-width;

    @media #{$large-up} {
        @include grid-column(8);
    }

    @media #{$xlarge-up} {
        @include grid-column(9);
    }

    .teaser {
        @media #{$large-only} {
            @include teaser-half-hero;
            margin-bottom: 20px;
        }

        @media only screen and (min-width: $xlarge-range-min) and (max-width: $section-minor-bp-1) {
            .teaser__content {
                bottom: auto;
                margin-top: -140px;
                padding-bottom: $column-gutter / 2;
                position: relative;
            }
        }

        @media only screen and (min-width: $section-minor-bp-1) {
            .teaser__icon {
                top: 40%;
            }
        }

        // Show second hero on large screen only
        &:nth-of-type(2) {
            display: none;
            @media #{$large-only} {
                display: block;
            }
        }
    }
}

.section--3-items {
    @include column-extra-side-gutter;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;

    @media #{$medium-up} {
        margin-bottom: 0;
        margin-top: 30px;
    }

    @media #{$large-up} {
        @include teaser-show-summary-source;
        margin-top: 0;
    }

    .teaser {
        @include grid-column(12);

        @media #{$medium-up} {
            @include grid-column(4);
            @include teaser-tag-over-img;
            @include teaser-icon-centered-small;
        }

        @media #{$large-up} {
            @include grid-column(3);
            @include teaser-icon-centered;
        }
    }

    .teaser__title {
        @media #{$medium-up} {
            @include type-small-teaser-title;
        }

        @media #{$xlarge-up} {
            @include type-teaser-title;
        }
    }

    .tag-secondary {
        @media #{$xlarge-up} {
            display: inline-block;
        }
    }

    .section__children {
        @include grid-column(3);
        display: none;

        @media #{$xlarge-up} {
            display: inline-block;
        }
    }

    .ad {
        float: right;
        width: 300px;
    }
}

.section--horizontal-ad {
    @include column-extra-side-gutter;
    clear: both;
}

.section--6-or-4-items {
    @include column-extra-side-gutter;
    clear: both;
    padding-top: 20px;

    &:before {
        border-bottom: 2px solid $color-section-separator;
        content: '';
        display: block;
        margin-left: $column-gutter / 2;
        margin-right: $column-gutter / 2;
        position: relative;
        top: -$column-gutter;

        @media #{$large-up} {
            display: none;
        }
    }

    @media #{$medium-up} {
        @include teaser-show-summary-source;
    }

    @media #{$large-up} {
        padding-top: 0;
    }

    .teaser {
        @include columns-half-gutter;

        @media #{$medium-only} {
            &:nth-of-type(3) {
                clear: both;
            }
        }

        @media #{$medium-up} {
            @include grid-column(6);
            @include teaser-tag-over-img;
        }

        @media #{$large-only} {
            &:nth-child(4) {
                clear: both;
            }
        }

        @media #{$large-up} {
            @include grid-column(4);
        }

        @media #{$xlarge-up} {
            @include grid-column(3);
        }
    }

    .teaser__title {
        @media #{$medium-up} {
            @include type-small-teaser-title;
        }
        @media #{$xlarge-up} {
            @include type-teaser-title;
        }
    }

    .tag-secondary {
        @media #{$xlarge-up} {
            display: inline-block;
        }
    }

    .section__children {
        @include grid-column(12);

        @media #{$medium-only} {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.section--9-items {
    @include column-extra-side-gutter;
    clear: both;

    .teaser--img-left {
        @include grid-column(12);

        @media #{$medium-up} {
            @include grid-column(6);
        }
    }

    .teaser--img-top {
        @include columns-half-gutter(even);

        @media #{$medium-up} {
            @include grid-column(4);
        }
    }

    @media #{$medium-only} {
        .teaser {
            &:nth-child(4) {
                @include teaser-tag-over-img;
                clear: both;
            }

            &:nth-of-type(7) {
                clear: both;
            }
        }
    }

    @media #{$medium-up} {
        .teaser:nth-child(6) {
            clear: both;
        }

        // First two items
        .teaser:nth-child(-n+2) {
            @include teaser-tag-over-img;
        }

        // First three items
        .teaser:nth-child(-n+4) {
            @include teaser-show-summary-source;
        }

        // Last six items
        .teaser:nth-last-child(-n+6) {
            @include teaser-tag-over-img;
            @include teaser-icon-centered-small;
        }

        .teaser__title {
            @include type-small-teaser-title;
        }
    }

    @media #{$large-only} {
        .teaser {
            &:nth-of-type(7) {
                clear: both;
            }
        }
    }


    @media #{$large-up} {
        .teaser:nth-child(4) {
            @include teaser-tag-over-img;
            @include teaser-hide-details;
            clear: both;
        }

        .teaser:nth-child(6) {
            clear: none;
        }

        // First two items
        .teaser:nth-child(-n+2) {
            @include grid-column(4);
        }

        // Middle 4 items
        .teaser:nth-child(n+3):nth-of-type(-n+6) {
            @include grid-column(3);
            @include teaser-icon-centered-small;
        }

        // Last three items
        .teaser:nth-last-child(-n+3) {
            @include grid-column(4);
            @include teaser-tag-over-img;
            @include teaser-show-summary-source;
        }
    }

    @media #{$xlarge-up} {
        @include teaser-show-summary-source;

        .teaser:nth-child(4) {
            @include teaser-show-summary-source;
            clear: none;

            .tag-secondary {
                display: inline-block;
            }
        }

        .teaser:nth-child(6) {
            clear: both;
        }

        // Middle 4 items
        .teaser:nth-child(n+3):nth-of-type(-n+7) {
            @include teaser-icon-centered;
        }

        .teaser:nth-child(-n+9) {
            @include grid-column(3);
            @include teaser-tag-over-img;
        }

        .teaser:nth-child(10) {
            clear: both;
        }

        // Last two items
        .teaser:nth-child(n+10) {
            @include grid-column(6);
            @include teaser-small-hero;
            @include teaser-hide-summary-source;
        }

        .tag-secondary {
            display: inline-block;
        }

        .teaser__title {
            @include type-teaser-title;
        }
    }

    .ad--section-mrec {
        padding-top: 15px;

        @media #{$medium-up} {
            @include grid-column(6);
            padding-top: 0;
        }
        @media #{$large-up} {
            @include grid-column(4);
        }
        @media #{$xlarge-up} {
            @include grid-column(3);
        }
    }
}
