$header-menu-width: 20px;

.header-menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    float: left;
    text-align: left;

    @media #{$small-up} {
        display: inline-block;
    }

    &__button-menu {
        @include flat-button;
        padding: 0 $column-gutter/2;

        svg {
            fill: $color-white;
            vertical-align: middle;
        }

        &:hover path,
        &:active path,
        &:focus path {
            fill: $color-grey-darker;
        }

        @media #{$medium-up} {
            padding: 0 $column-gutter/2;
        }
    }
}

.header--side-menu-open .header-menu {
    &__button-menu path {
        fill: $color-primary;
    }
}
