.header-menu {
    flex: 0;
    align-self: center;
    z-index: $z-index--header-menu;

    &__button-menu {
        @include flat-button;

        &:hover path,
        &:active path,
        &:focus path {
            fill: $color-light-blue;
        }

        @media #{$large-up} {
            display: none;
        }
    }

    &__button-icon {
        fill: $color-grey-lighter-level-3;
        width: 20px;
    }
}
