$custom-medium-only: '#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width: 890px)' !default;
$custom-large-only: '#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width: 1215px)' !default;
$header-nav-link-padding: 30px;

.header-nav {
    display: none;
    transition: width $transition-duration;
    width: calc(100% - 2 * #{$header-menu-width + $column-gutter * 2});

    &:before {
        content: '';
        display: inline-block;
    }

    @media #{$medium-up} {
        display: inline-block;
    }

    nav {
        display: inline-block;
        margin-left: 0;
        transform: translate(0, 0);

        @media #{$xlarge-up} {
            transition: margin-left $transition-duration, transform $transition-duration;
        }
    }

    a {
        @include type-header;
        display: none;
        padding: 0 $header-nav-link-padding;
        position: relative;
		line-height: 75px;

        @media #{$large-up} {
            display: inline-block;
        }

        &:active,
        &:focus,
        &:hover {
            color: $color-primary;
        }

        &:before {
            border-left: 1px solid $line-color;
            content: '';
            display: block;
            height: 29%;
            left: 0;
            opacity: 1;
            position: absolute;
            top: 25px;
            transition: opacity $transition-duration;
            width: 1px;
        }
    }

	.header-sub-nav {
        display: inline;
        position: relative;

	   &:hover {
			.sub-nav-list__dropdown {
				display: block;
			}
		}

		a {
			.tl-icon-drop-menu:before {
				content: '\ea50';
				margin-left: 5px;
			}

			&:hover {
				color: $color-grey-darker;
			}

			&:first-child:before {
				opacity: 1;
			}
		}

		.sub-nav-list__dropdown {
			display: none;
			position: absolute;
			z-index: 1500;
			background-color: #333;
			list-style-type: none;
			padding: 15px;
			left: 0px;
			top: 33px;
			width: 130px;
			text-align: center;
			white-space: normal;

			@media #{$large-up} {
				width: 165px;
			}

			&:hover {
				display: block;
			}

			li {
				line-height: 28px;

				a {
					float: none;
					padding: 5px 0;
					display: block;
					color: $color-grey-lighter;
					line-height: 22px;

					&:hover {
						color: $color-primary;
					}

					&:first-child:before {
						opacity: 0 !important;
					}
				}
			}
		}
	}
}

// Using custom breakpoints as design wants to adjust nav when it can no longer fit all nav items

.header-wrapper.header-wrapper--expanded {
    @media #{$custom-medium-only} {
        margin-bottom: 282px;
    }
}

.header.header--expanded:not(.header--pinned) {
    @media #{$custom-medium-only} {
        line-height: 65px;
    }

    .header-menu {
        @media #{$custom-medium-only} {
            padding-right: 3px;
        }
    }

    .header-nav {
        @media #{$custom-medium-only} {
            a {
                font-size: 80%;
                padding: {
                    left: 17px;
                    right: 17px;
                }
            }
        }

        @media #{$medium-up} {
            nav {
                margin-left: 50%;
                transform: translate(-50%, 0);
            }

            a {
                display: inline-block;
            }
        }

        a:first-child:before {
            opacity: 0;
        }

		.header-sub-nav {
			a {
				&:first-child:before {
					opacity: 1;
				}
			}
		}
	}
}

.header:not(.header--expanded) {
    .header-menu {
        @media #{$custom-large-only} {
            margin-top: 1px;
        }
    }

    .header-logo {
        @media #{$custom-large-only} {
            width: 285px;

            a {
                background-size: 252px 20px;
                margin-left: 3px;
                height: 20px;
                width: 252px;
            }
        }
    }
    .header-nav {
        @media #{$custom-large-only} {
            a {
                font-size: 80%;
                padding: {
                    left: 20px;
                    right: 20px;
                }
            }
        }
    }
}

