.header-wrapper {
    margin-bottom: $header-height-small;
    text-align: center;

    @media #{$medium-up} {
        text-align: left;
        margin-bottom: 95px;
    }
}

.header {
    background-color: $color-primary;
    clear: both;
    left: 0;
    position: absolute;
    transition: transform $transition-duration;
    width: 100%;
    z-index: $z-index--header;

    &--fade-out {
        opacity: 0;
        transition: opacity $fade-duration;
    }

    &__sections {
        @include grid-row();
        vertical-align: top;
        white-space: nowrap;
        height: $header-height-small;

        @media #{$medium-up} {
            height: $header-height-medium-up;
            padding-left: 15px;
        }

        @media #{$large-up} {
            max-width: 1024px;
        }
    }

    &--side-menu-open {
        transform: translate($side-menu-width, 0);

        @media #{$medium-up} {
            transform: translate($side-menu-width-big, 0);
        }
    }

    &:not(.header--pinned) {
        margin-top: 0;
    }

    &--pinned {
        position: fixed;
    }
}
