$header-logo-width-desktop: 100%;

.header-logo {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    width: 263px;
    padding-left: 0px;

    @media #{$medium-up} {
        text-align: left;
    }

    @media #{$large-up} {
        padding-left: 15px;
    }

    @media #{$medium-only} {
        width: 240px;
    }

    &__link-image {
        background-image: url('/assets/logo/homes-logo.svg');
        background-repeat: no-repeat;
        display: inline-block;
        height: 28px;
        vertical-align: middle;
        font-size: 0;
        width: 100%;
        margin: 14px 0;

        @media #{$medium-up} {
            background-image: url('/assets/logo/homes-logo.svg');
            height: 28px;
            background-repeat: no-repeat;
        }

        @media #{$medium-only} {
            height: 26px;
        }
    }
}
