
%expanded-search-placement {
    .header-search {
        top: 0;
        
        @media #{$medium-up} {
            top: $header-height-desktop;
        }        
    }    

    .header-search--is-open {
        top: $header-banner-height-mobile;

        @media #{$medium-up} {
            top: $header-height-desktop;
        }
    }
}

.header {
    $self: &;
    position: absolute;
    z-index: $z-index--header;
    height: 0;
    width: 100%;    
    margin-bottom: 0;
    background: $color-primary;

    @media #{$medium-up} {
        height: auto;
    }

    &__inner {
        width: 100%;        
        background-color: $color-primary;
        position: relative;
        height: $header-height-small;

        @media #{$medium-up} {
            height: auto;
        }
    }
    
    &__sections {
        align-items: center;
        display: flex;
        height: 100%;                 
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1024px;        
        padding: 0 $column-gutter/2;
        white-space: nowrap;

        @media #{$medium-up} {
            height: $header-height-desktop;
            max-height: $header-height-desktop;
        }
    }

    // expanded states
    &--expanded {
        position: fixed;
        height: 0;
        margin-top: 0;

        @media #{$medium-up} {
            position: absolute;
            margin-bottom: $header-banner-height-medium-up;
        }

        @media #{$large-up} {
            margin-bottom: $header-banner-height-large-up;
        }

        .header-logo {
            @media #{$medium-up} {
                overflow: hidden;
                position: absolute;
            }
        }

        .header-logo__link-image {
            margin-left: 45px;
            
            @media #{$medium-up} { 
                margin: initial;
                transform: translateX(-299px);
            }
        }

        .header-nav {
            flex: 1;
            margin-left: 30px;
        }

        #{$self}__inner {
            height: $header-banner-height-mobile;

            @media #{$medium-up} {
                height: auto;
            }
        }

        .header-search {
            top: 232px;
        }

        //header expanded and pinned but not yet hidden 
        &#{$self}--pinned:not(#{$self}--hidden) {
            @extend %expanded-search-placement;
            position: fixed;

            #{$self}__container {
                height: auto;
            }
            
            .header-banner {
                display: none;
            }

            .header-logo {
                position: static;
            }

            .header-nav {
                margin-left: 0;
            }

            .header-logo__link-image {
                margin-left: 45px;

                @media #{$medium-up} {
                    margin: initial;
                    transform: translateX(0);
                }
            }
        }
        
        //header expanded and pinned
        &#{$self}--hidden#{$self}--pinned {
            @extend %expanded-search-placement;
            position: fixed;
            width: 100%;            
            
            #{$self}__inner {                 
                top: 0;
                position: fixed;        
                margin-bottom: auto;
            }        
    
            .header-banner {
                display: none;
            }
    
            .header-logo {
                @media #{$medium-up} {
                    position: static;
                }
            }
            
            .header-nav {
                margin-left: 0;
            }
    
            .header-logo__link-image {
                @media #{$medium-up} {
                    transition: all .2s ease-in;
                    transform: translateX(0);    
                }
            }                
        }
    }    

    // pinned states
    &--pinned {
        position: fixed;

        &:not(#{$self}--hidden) {
            .header-banner {
                display: block;
            }
        }

        &#{$self}--hidden {
            margin: 0;
        }
    }    
}
