.header-sponsors {
    display: none;
    font-family: 'brandon-grotesque', sans-serif;

    &.header-sponsors--text-vertical-only {
        display: block;
        text-align: left;
        margin: 0;

        ul {
            margin: 20px 0 30px 0;
            padding-left: 0;
        }

        li {
            list-style: none;
            padding: 0 0 13px 0;
            float: none;
            text-align: left;
            margin-left: 0;
            font-size: 20px;

            &.header-sponsors--by {
                color: #C3C3C3;
                font: 300 .8rem/2 'brandon-grotesque', sans-serif;
                letter-spacing: .04em;
            }
        }

        .header-sponsors__logo {
            &--belle {
                &:hover {
                    opacity: 1;
                }
            }

            &--realliving_black {
                &:hover {
                    opacity: 1;
                }
            }

            &--homesplus {
                &:hover {
                    opacity: 1;
                }
            }

            &--housegarden {
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &__logo {
        &--belle {
            color: $color-belle;
            letter-spacing: .04em;

            &:hover {
                color: $color-belle-light;
                opacity: .7;
            }
        }

        &--realliving_black {
            color: $color-real-living;

            &:hover {
                color: $color-real-living-light;
                opacity: .7;
            }
        }

        &--homesplus {
            color: $color-homes-plus;
            letter-spacing: .04em;

            &:hover {
                color: $color-homes-plus-light;
                opacity: .7;
            }
        }

        &--housegarden {
            color: $color-house-and-garden;
            letter-spacing: .04em;

            &:hover {
                color: $color-house-and-garden-light;
                opacity: .7;
            }
        }
    }

    @media #{$medium-up} {
        text-align: center;
        display: block;
        margin-top: -80px;

        &.header-sponsors--text-vertical-only {
            li {
                line-height: 1.5;
            }
        }

        &.header-sponsors--text-only {
            text-align: left;
            margin-top: 0;
            height: 59px;

            li {
                line-height: 1.8;
                margin: 0 15px;

                &.header-sponsors--by {
                    margin-left: 30px;
                    line-height: 1.8;
                }
            }

            .header-sponsors__logo {
                &--belle {
                    &:hover {
                        opacity: 1;
                    }
                }

                &--realliving_black {
                    &:hover {
                        opacity: 1;
                    }
                }

                &--homesplus {
                    &:hover {
                        opacity: 1;
                    }
                }

                &--housegarden {
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        ul {
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        li {
            float: left;
            line-height: 1;
            margin: 0 20px;
            list-style: none;
            font-size: .9rem;

            &.header-sponsors--by {
                font: 300 .9rem/2 'brandon-grotesque', sans-serif;
                color: #777777;
                letter-spacing: .04em;
                line-height: 1.7;
            }
        }

        &__logo {
            &--belle {
                width: 50px;
            }

            &--realliving_black {
                width: 100px;
            }

            &--homesplus {
                width: 100px;
            }

            &--housegarden {
                width: 70px;
            }
        }
    }
}

.article-section .article {
    @media #{$medium-up} {
        margin-top: -70px;
    }
}

.feed.feed--pinned .feed__container {
    margin-top: 136px;
}

.article-feed-container .feed__container {
    margin-top: 188px;
}
