.header-banner {
  display: none;
  
  @media #{$medium-up} {
    display: block;
    padding: 56px 0;
  }

  &__inner {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 38px;
  }

    .icon-logo {
        color: #000;
        
        @media #{$medium-up} {
          font-size: 3px;
        }

        @media #{$medium-up} {
          font-size: 60px;
        }
    }   
}