.aside {
    background-color: $color-primary;
    display: none;
    height: 100%;
    padding: 20px 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: $aside-width;
    z-index: $z-index-9--aside;
    -webkit-overflow-scrolling: touch;

    &--active {
        display: block;
        box-shadow: 0 0 10px rgba(0, 0, 0, .8);

        @include respond-to('small') {
            box-shadow: none;
        }
    }
}
