// Sidebar nav
$nav-color-link: #798289;

.nav {

    @include respond-to('small') {
        padding: 0 25px;
    }

    &__heading {
        color: $color-white;
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__list {
        margin: 0 0 30px;
        padding: 0;

        li {
            font-size: 18px;
            list-style: none;
            margin-bottom: 20px;

            @include respond-to('small') {
                margin-bottom: 40px;
            }
        }

        a {
            border-bottom: 1px solid $nav-color-link;
            color: $color-white;
            display: block;
            padding:15px 20px;
            text-decoration: none;

            &:hover,
            &:focus,
            &.active {
                color: $color-white;
            }

            @include respond-to('small') {
                border-bottom: 0;
                padding: 0;
            }
        }
    }

    &__sub-list {
        padding:0;

        @include respond-to('small') {
            padding: 5px 0 0 0;
        }

        li {
            font-size: 14px;
            margin-bottom: 0;

            @include respond-to('small') {
                margin-bottom: 10px;
            }
        }

        a {
            color: $nav-color-link;
        }
    }
}

// Mobile toggle button
.nav-button {
    background: $color-primary;
    border: 2px solid $color-white;
    border-radius:35px;
    bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    color: $color-white;
    font-size: 11px;
    height: 70px;
    padding: 0;
    position: fixed;
    right: 15px;
    text-transform: uppercase;
    width: 70px;
    z-index: $z-index-10--nav-button;

    &:hover,
    &:active,
    &:focus {
        background: $color-primary;
        box-shadow: 0 0 15px rgba(0, 0, 0, .4);
        outline: none;
    }

    @include respond-to('small') {
        display: none;
    }
}
