.recommendations {
    margin: 0 auto;

    @media #{$medium-up} {
        width: $content-expanded-medium-width;
    }

    @media #{$large-up} {
        width: $content-body-large-width;
    }

    @media #{$xlarge-up} {
        width: $content-expanded-xlarge-width + $column-gutter;
    }
}
