.feed {
    $feed-top-padding: 30px;

    display: none;
    @media #{$large-up} {
        display: block;
    }

    width: $article-feed-container-width;

    &__container {
        border-right: 1px solid $line-color;
        height: 100%;
        position: fixed;
    }

    &__items {
        height: calc(100% - #{$feed-top-padding});
        margin-top: $feed-top-padding;
        overflow-y: scroll;
        padding-left: 0;
        width: $article-feed-container-width;
    }
}
