.feed {
    @include side-menu-slider;

    $network-header-height: 51px;

    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: $article-feed-container-width;

    @media #{$large-up} {
        display: block;
    }

    &--pinned &__container {
        height: calc(100% - #{$header-height-desktop});
        margin-top: $header-height-desktop;
    }

    &__container {
        height: calc(100% - #{$network-header-height + $header-height-desktop});
        margin-top: $network-header-height + $header-height-desktop;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch; // Must come after overflow-y
        transition: margin-top $transition-duration, height $transition-duration;
    }

    &__items {
        height: 100%;
        margin-top: 0;
        padding-left: 0;

        // Improves left-hand rail flicker on iPad scroll
        > * {
            transform: translate3d(0, 0, 0);
        }
    }
}
