.teaser-icon {
    $icon-size: 22px;
    $icon-padding: 3px;
    $circle-diameter: 76px;

    bottom: -1px;
    height: $circle-diameter/2;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: $circle-diameter/2;

    &:before {
        background-color: $color-white;
        border-radius: $circle-diameter/2;
        bottom: -$circle-diameter/2;
        content: ' ';
        display: block;
        height: $circle-diameter;
        left: -$circle-diameter/2;
        position: absolute;
        width: $circle-diameter;
    }

    svg {
        bottom: 0;
        left: 0;
        max-height: 20px;
        max-width: 21px;
        position: absolute;
    }
}
