.section {

    &__landing {
        @include teaser-hide-secondary-tag;

        background: $color-white;
        padding-top: 0;
        max-width: 1024px;
        margin: 0 auto;

        @media #{$large-up} {
            @include teaser-show-secondary-tag;
        }
    }

    &__heading {
        max-width: 1024px;
        margin: 0 auto;

        &__title {
            position: relative;
            z-index: $z-index-1;
            background: $color-white;

            @media #{$large-up} {
                padding: {
                    top: 10px;
                    left: $column-gutter/2;
                    bottom: 55px;
                    right: $column-gutter/2;
                };
            }

            h1 {
                @include type-section-heading;
                margin-bottom: 22px;

                @media #{$medium-only} {
                    max-width: 1024px;
                    margin: 0 auto 25px;
                }
            }
        }
    }

    &__row {
        @include grid-row();
        background: $color-white;
        position: relative;
    }

    &__featured {
        background: $color-white;
        border-right: 1px solid $color-section-separator;

        @media #{$medium} {
            padding: 0 $column-gutter/2;
        }

        @media #{$large-up} {
            @include grid-column(8);
        }

        .teaser {

            &--polar {

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    max-width: none;
                }

                a {
                    height: 0;
                    padding-bottom: 83%;
                    overflow: hidden;
                }

                &.polar--horizontal {

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 100%;
                        width: initial;
                        max-height: none;
                    }
                }

            }

            @media #{$medium-up} {
                @include grid-column(6);
            }

            @media #{$medium-only} {

                &:nth-child(1) {
                    padding-left: 0px;
                    clear: both;
                }

                &:nth-child(n+3):nth-child(even):nth-child(-n+9) {
                    padding-left: 0px;
                    clear: both;
                }

                &:nth-child(2) {
                    padding-right: 0px;
                }

                &:nth-child(n+2):nth-child(odd):nth-child(-n+9) {
                    padding-right: 0px;
                }
            }

            @media #{$large-up} {

                &:nth-child(2) {
                    padding-left: 0px;
                    clear: both;
                }

                &:nth-child(n+3):nth-child(odd):nth-child(-n+9) {
                    padding-left: 0px;
                    clear: both;
                }

                &:nth-child(4) {
                    padding-right: 0px;
                }

                &:nth-child(n+5):nth-child(even):nth-child(-n+9) {
                    padding-right: 0px;
                }

            }

            &__source {
                display: block;
            }
        }
    }

    &__middle {
        @media #{$large-up} {
            padding: 13px 0 0;
        }
    }

    &__list {
        border-right: 1px solid $color-section-separator;

        @media #{$medium} {
            padding: 0 $column-gutter/2;
        }

        @media #{$large-up} {
            @include grid-column(8);
        }

        .teaser {

            &--polar {

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    max-width: none;
                }

                a {
                    height: 0;
                    padding-bottom: 41.7%;
                    overflow: hidden;
                }

                &.polar--horizontal {

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 100%;
                        width: initial;
                        max-height: none;
                    }
                }
            }

            @include teaser-img-top;

            .teaser {
                &__source {
                    display: block;
                }
            }

            @media #{$medium-only} {
                @include grid-column(6);
            }

            @media #{$large-up} {
                @include teaser-img-left;

                .teaser {
                    &__content {
                        text-align: left;
                        padding-top: 0;
                        margin-top: -3px;
                    }

                    &__summary {
                        display: block;
                    }

                    &__source {
                        display: block;
                    }
                }
            }

            &:nth-child(odd) {
                @media #{$medium-only} {
                    clear: both;
                }
            }

            &:nth-child(even) {
                @media #{$large-up} {
                    clear: both;
                }
            }

        }
    }

    &__rail {
        background: $color-white;
        display: none;

        @media #{$large-up} {
            display: block;
            @include grid-column(4);
        }
    }
}
