$related-content-border-color: #ddd;

.related-content {
    @include content-body-width();
    border: 1px solid $related-content-border-color;
    margin: 40px auto 30px;
    padding: 35px 25px 40px;

    h2 {
        @include type-article-heading();
        margin: 0 auto 35px;

        @media #{$medium-only} {
            width: 92%;
        }

        @media #{$xlarge-up} {
            width: $content-body-xlarge-width;
        }
    }

    @media #{$medium-only} {
        width: $content-expanded-medium-width;
    }

    @media #{$medium-up} {
        padding: {
            left: 25px;
            right: 25px;
        }
    }

    @media #{$large-up} {
        padding: {
            left: 40px;
            right: 40px;
        }
    }

    @media #{$xlarge-up} {
        padding: {
            left: 70px;
            right: 70px;
        }
        width: $content-expanded-xlarge-width;
    }
}

.related-content-wrapper {
    @media #{$medium-only} {
        margin: 0 auto;
        width: 92%;
    }
}

.related-content-items {
    @extend .row;
    padding: 0;

    .feed-item {
        @extend .column;

        border-width: 0;
        margin: 0;
        padding: {
            bottom: 0;
            top: 0;
        }

        .teaser__image {
            display: none;
            padding-right: 0;

            @media #{$medium-up} {
                display: table-cell;
                width: 132px;
            }
        }

        &:first-child {
            margin-bottom: $column-gutter;

            @media #{$medium-up} {
                margin-bottom: 0;
            }

            @media #{$large-only} {
                margin-bottom: $column-gutter;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        @media #{$medium-up} {
            float: left;
            width: 50%;
        }

        @media #{$large-only} {
            float: none;
            width: 100%;
        }
    }

    .feed-item__body {
        display: table-cell;
        float: none;
        margin-bottom: 10px;
        padding: {
            left: 0;
            top: 0;
        };
        width: auto;

        @media #{$medium-up} {
            padding-left: 20px;
        }
    }
}
