// ---------------------------------------------------- teaser mixins

@mixin teaser-hide-details {
    .tag-separator,
    .tag-secondary,
    .teaser__summary,
    .teaser__source {
        display: none;
    }
}

@mixin teaser-show-secondary-tag {
    .tag-separator,
    .tag-secondary {
        display: inline;
    }
}

@mixin teaser-title-config {
    .teaser__title {
        @include type-hero-title;

        @media #{$medium-up} {
            @include type-small-teaser-title;
        }
    }
}

@mixin teaser-show-summary-source {
    .teaser__summary,
    .teaser__source {
        display: block;
    }
}

@mixin teaser-hide-summary-source {
    .teaser__summary,
    .teaser__source {
        display: none;
    }
}

@mixin teaser-show-source {
    .teaser__source {
        display: inline;
    }
}

@mixin teaser-hide-source {
    .teaser__source {
        display: none;
    }
}

@mixin teaser-hide-summary {
    .teaser__summary-wrap {
        display: none;
    }
}

@mixin teaser-img-left {
    @include teaser-hide-details;

    .teaser__image,
    .teaser__content {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }

    .teaser__content {
        padding-left: $column-gutter / 2;
    }

    .teaser__tags {
        margin-bottom: 5px;
    }
}

@mixin teaser-img-top {
    @include teaser-hide-details;

    .teaser__image,
    .teaser__content {
        display: block;
        width: 100%;
        text-align: center;
    }

    .teaser__content {
        padding-left: 0;
        padding-top: 10px;
    }

    .teaser__tags {
        margin-bottom: 5px;
    }
}

@mixin teaser-tag-over-img {

    .teaser__image {
        width: auto;
        z-index: $z-index--teaser-image;
    }

    .teaser__content {
        background: $color-white;
        padding: 0 20px 25px;
        text-align: center;
        width: auto;
        z-index: $z-index--teaser-content;
    }

    .teaser__tags {
        background: $color-white;
        display: inline-block;
        margin: 11px 0 10px;
    }
}

@mixin teaser-hero {
    margin-bottom: 10px;
    overflow: hidden;

    .teaser__title {
        @media #{$medium-up} {
            margin-bottom: 20px;
        }
    }

    .teaser__content {
        @media #{$medium-up} {
            background: $color-white;
            bottom: 40px;
            margin: 0 $column-gutter * 4;
            position: absolute;
            padding: {
                bottom: 0px;
                top: 15px;
            }
            text-align: center;

            .teaser__source,
            .teaser__summary {
                display: none;
            }
        }
    }

    .teaser__tags {
        @media #{$medium-up} {
            margin-bottom: 6px;
            margin-top: 0;
            padding-top: 0;
        }
    }

    .teaser__summary {
        @include type-hero-summary;
    }

    .teaser__source {
        @media #{$medium-up} {
            display: none;
        }
    }

    .tag-separator,
    .tag-secondary {
        display: inline;
    }

    @media #{$xlarge-up} {
        margin-bottom: $column-gutter * 2;
    }
}

// Hero content partially over the img
@mixin teaser-half-hero {

    .teaser__content {
        margin-bottom: -80px;
        padding-top: 0;
        top: -65px;
    }

    .teaser__tags {
        background: $color-white;
        display: inline-block;
        margin: -50px 0 10px;
        padding: 15px 25px 0;
    }

    .teaser__summary {
        display: none;
    }
}

@mixin teaser-small-hero {
    @include teaser-hero;

    .teaser__content {
        bottom: $column-gutter;
        margin: 0 $column-gutter * 3 0 $column-gutter * 2;
        padding-bottom: 0;
        padding-top: 0;
        width: calc(100% - #{$column-gutter * 5});
    }

    .teaser__tags {
        background: $color-white;
        display: inline-block;
        margin: -10px 0 13px;
        padding: 15px 25px 0;
    }
}

@mixin teaser-narrow {
    @include teaser-tag-over-img;

    @media #{$medium-up} {
        margin-bottom: 40px;
    }

    .teaser__image {
        display: block;
        max-height: 160px;
        overflow: hidden;
    }

    .teaser__title {
        @include type-xsmall-teaser-title;

        @media #{$medium-up} {
            @include type-small-teaser-title;
        }

        @media #{$xlarge-up} {
            @include type-teaser-title;
        }
    }

    .teaser__tags {
        margin-bottom: 8px;
    }

    .teaser__content {
        padding-bottom: 0;
    }

    .teaser__summary,
    .teaser__source {
        display: none;
    }

    .tag-separator,
    .tag-secondary {
        display: none;

        @media #{$xlarge-up} {
            display: inline;
        }
    }
}

// ---------------------------------------------------- classes

.teaser {

    // ---------------------------------------------------- defaults
    margin-bottom: 20px;
    position: relative;

    @media #{$large-up} {
        margin-bottom: 40px;
    }

    @media #{$xlarge-up} {
        margin-bottom: $column-gutter;
    }

    &__image {
        display: block;
        position: relative;
        transition: opacity .1s ease-out;

        img {
            height: auto;
            width: 100%;
        }

        &:hover,
        &:focus {
            opacity: .85;
        }

    }

    &__tags {
        @include type-tags($color-primary);
    }

    &__title {
        @include type-xsmall-teaser-title;
        margin-bottom: 7px;

        a {
            color: $color-black;
            text-decoration: none;
            transition: color .1s ease-in;

            &:hover,
            &:focus {
                color: $color-grey-dark;
            }
        }

        @media #{$medium-up} {
            margin-bottom: 5px;
        }
    }

    &__summary {
        @include type-teaser-summary;
        margin-bottom: 10px;

        @media #{$large-up} {
            margin-bottom: 7px;
        }
    }

    &__source {
        @include type-tags;
        line-height: 2;

        .icon-source {
            fill: $color-primary;
            margin-right: 10px;
            position: relative;
            top: 2px;
        }
    }


    // ---------------------------------------------------- img left
    &--img-left {
        @include teaser-img-left;
    }

    // ---------------------------------------------------- img top
    &--img-top {
        @include teaser-img-top;
    }


    // ---------------------------------------------------- hero
    &--hero {
        @include teaser-tag-over-img;
        @include teaser-hero;

        .teaser__title {
            @include type-hero-title;
        }
    }

    &--hero-img-top {
        @include teaser-img-top;
    }

    // ---------------------------------------------------- narrow
    &--narrow {
        @include teaser-narrow;
    }

    // ---------------------------------------------------- polar native
    &--native {
        .teaser__icon svg {
            fill: $color-grey-dark;
        }

        .teaser__tags {
            color: $color-grey-dark;
        }
    }
}
