.header-banner {
    background: url('/assets/images/homes-banner-background.jpg') repeat-x;
    background-position: 50% 50%;
    display: none;
    font-size: 0;
    line-height: $header-banner-logo-height;
    text-align: center;

    &__logo {
        background-image: url('/assets/logo/homes-header-logo-desktop.svg');
        background-size: 585px 134px;
        display: inline-block;
        height: 190px;
        vertical-align: middle;
        width: 585px;
        background-repeat: no-repeat;
    }
}

.header.header--expanded:not(.header--pinned) .header-banner {
    @media #{$medium-up} {
        display: block;
    }
}

.header__sections--brick-bg {
  background: url('/assets/images/homes-banner-background.jpg') repeat-x;
  border-bottom: 1px solid #F3F3F3;
}
