$header-logo-width-desktop: 287px;
$logo-container-width-desktop: $header-logo-width-desktop + $column-gutter + 23px;

.header-logo {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    width: calc(100% - 2 * #{$header-menu-width + $column-gutter});

    @media #{$medium-up} {
        text-align: left;
        width: $logo-container-width-desktop;
    }

    @media #{$xlarge-up} {
        transition: width $transition-duration;
    }

    &__link-image {
        background-image: url('/assets/logo/homes-header-logo.svg');
        background-size: 115px 35px;
        display: inline-block;
        font-size: 0;
        height: 35px;
        vertical-align: middle;
        width: 115px;

        @media #{$medium-up} {
            background-image: url('/assets/logo/homes-header-logo-desktop.svg');
            background-size: $header-logo-width-desktop 23px;
            height: 23px;
            margin-left: 11px;
            width: $header-logo-width-desktop;
        }
    }
}

.header {
    &.header--expanded .header-logo {
        @media #{$medium-up} {
            width: 0;
        }
    }

    &.header--expanded.header--pinned .header-logo {
        @media #{$medium-up} {
            width: $logo-container-width-desktop;
        }
    }
}
