// scss-lint:disable LeadingZero, PropertySortOrder

$gallery-footer-minor-bp-2: 1500px;

.gallery__image-details {
    @include grid-column(12);
    color: $color-grey-darker;
    padding: 0;
    font-size: 14px;

    p {
        color: $color-grey-dark;
        font-size: 14px;
        padding-bottom: 5px;

        @media #{$medium-only} {
            font-size: 16px;
            line-height: 1.875;
        }
    }

    @media only screen and (min-width:$gallery-footer-minor-bp-2) {
        display: inline-block;
        width: calc(100% - 728px);

        // Make this div always take up space, even if there is no content.
        // This keeps the footer ad floating to the right
        min-height: 1px;
    }
}

.gallery__footer-ad {
    display: none;
    clear: both;

    @media #{$large-up} {
        display: block;
        width: 728px;
        bottom: 20px;
        position: absolute;
        left: 50%;
        transform: translateX(-75%);
    }

    @media only screen and (min-width:$gallery-footer-minor-bp-2) {
        display: inline-block;
        margin-top: 5px;
        right: 0;
        left: calc(100% - 728px - 360px);
        transform: none;
    }

    div {
        margin-left: auto;
        margin-right: auto;
    }
}

.gallery__slide-count {
    display: none;

    @media #{$large-up} {
        display: inline-block;
        vertical-align: top;
        width: 110px;
        padding-top: 6px;
        font-family: $font-family-sans-serif-primary;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.03em;
        background-color: $white;
        transition: all .5s ease-out;
        transition-property: top, min-height;
    }
}

.gallery-caption {
    position: relative;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: $white;
    transition: all .5s ease-out;
    transition-property: top, height;

    @media #{$large-up} {
        width: calc(100% - 110px);
        display: inline-block;
    }
}

.gallery-caption__toggle {
    border-bottom: 1px dashed transparent;
    color: $color-primary;
    display: inline;
    cursor: pointer;
    padding: 0;
    text-transform: uppercase;

    &:hover {
        border-bottom-color: $color-primary;
    }
}

.gallery-caption__toggle--more {
    position: absolute;
    right: 15px;
    bottom: 2px;
    text-align: right;
    z-index: 1;
    line-height: 18px;
}

.gallery-caption__toggle--more:before {
    content: '';

    // For IE9
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    //////////

    // For all other browsers
    background-color: rgba($white, 0);
    background-image: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 1) 60%);

    width: 140px;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.gallery-caption__toggle--less {
    margin-left: 10px;
}

.gallery-caption__content {
    display: inline;
    line-height: 24px;
}

.gallery-caption__content-holder {
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
}
