@import './header';
@import './main';
@import './aside';
@import './next';

.gallery__slide-count {
    font-family: $font-family-sans-serif-primary;
    color: $color-grey-darker;
    white-space: nowrap; // fixes issue with font sometimes wrapping text on newline

    @media #{$large-up} {
        font-weight: 500;
    }
}

.gallery__image-details {
    font-size: 14px;

    p {
        font-size: 14px;
    }
}

.gallery .social-share-block {
    &.hide-for-large-up {
        border: 1px solid $line-color;
        margin: 0 $column-gutter/2 40px;

        .social-share {
            height: 50px;
            margin-right: 15px;
            position: relative;
            vertical-align: middle;
            width: 10%;

            @media #{$medium-up} {
                width: 8%;
            }
        }

        .social-share-count {
            border: 0;
            line-height: 50px;
            margin-left: 18px;
            padding-left: 20px;
            width: 38px;

            @media #{$medium-up} {
                padding-left: 35px;
            }
        }

        .email {
            display: inline-block;
            line-height: 48px;
            margin-right: 0;
        }
    }

    &.show-for-large-up {
        margin-top: 20px;
        padding: {
            left: $column-gutter/2;
            right: $column-gutter;
        }

        position: absolute;
        right: 0;
        text-align: left;
        width: $gallery-aside-large-width;

        .social-share-count {
            padding-left: 30px;
            margin-left: 10px;
        }
    }
}
