.main-wrapper {
    padding: {
        left: $column-gutter/2;
        right: $column-gutter/2;
    }

    @media #{$xlarge-up} {
        padding: {
            left: $column-gutter;
            right: $column-gutter;
        }
    }
}

.default-template {
    overflow-x: hidden;
    position: relative;
    width: 100%;    

    &--homepage {
        .header:not(.header--expanded) {
            @media #{$medium-up} {
                margin-top: 48px;
            }            
        }    
        
        .header--pinned:not(.header--expanded) {
            margin-top: 0;
        }
            
        .section__heading {
            padding-top: $header-banner-height-mobile;

            @media #{$medium-up} {
                padding-top: 250px
            }
        }
    }
}


