.content-body {
    p {
        padding: 20px 0 10px;
    }

    &,
    &__heading {
        @include content-body-width();
    }

    &__heading {
        h2 {
            @include type-article-heading();
            padding: 25px 0 10px;
        }
    }

    &__inline-image {
        margin: {
            left: -($column-gutter/2);
            right: -($column-gutter/2);
        };
        padding: 35px 0;

        @media #{$medium-up} {
            margin: {
                left: 0;
                right: 0;
            }
        }

        figure {
            @include caption-over-image();
            margin: 0;
        }

        &--portrait {
            @media #{$xlarge-up} {
                margin: 0 auto;
                width: $content-body-xlarge-width;

                figure figcaption {
                    left: $column-gutter;
                    width: $content-body-xlarge-width - $column-gutter * 2;
                }
            }
        }
    }

    &__tips {
        @include content-body-width();
        border: 1px solid $color-primary;
        margin: 40px auto 30px;
        padding: 35px 25px 5px;

        h2 {
            @include type-article-heading();
            margin-bottom: 30px;
        }

        ul {
            margin-left: 20px;
            padding-left: 0;
        }

        li {
            margin-bottom: 30px;
        }

        @media #{$medium-only} {
            width: $content-expanded-medium-width;
        }

        @media #{$xlarge-up} {
            width: $content-expanded-xlarge-width;
        }

        .tips {
            margin: 0 auto;

            @media #{$medium-only} {
                width: 90%;
            }

            @media #{$xlarge-up} {
                width: $content-body-xlarge-width;
            }
        }
    }
}
