@import './gallery-link';

.content-body {
    @include content-body-lists;
    margin: {
        left: -($column-gutter/2);
        right: -($column-gutter/2);
    }

    p {
        padding: 20px 0 10px;
    }

    &,
    &__heading {
        @include content-body-width();
    }

    &__heading {
        h2 {
            @include type-article-heading();
            padding: 25px 0 10px;
        }
    }

    &__inline-image {
        padding: 35px 0;

        @media #{$small-only} {
            margin: {
                left: -($column-gutter/2);
                right: -($column-gutter/2);
            }
        }

        figure {
            @include caption-over-image();
            margin: 0;
        }

        &--portrait {
            @media #{$xlarge-up} {
                margin: 0 auto;
                width: $content-body-xlarge-width;

                figure figcaption {
                    left: $column-gutter;
                    width: $content-body-xlarge-width - $column-gutter * 2;
                }
            }
        }
    }

    &__tips {
        @include content-body-lists;
        @include content-body-width();
        border: 1px solid $color-primary;
        margin: 40px auto 30px;
        padding: 35px 25px 5px;

        h2 {
            @include type-article-heading();
            margin-bottom: 30px;
        }

        p {
            margin-bottom: $column-gutter;
        }

        @media #{$medium-only} {
            width: $content-expanded-medium-width;
        }

        @media #{$large-up} {
            padding: {
                left: 40px;
                right: 40px;
            }
        }

        @media #{$xlarge-up} {
            width: $content-expanded-xlarge-width;
        }

        .tips {
            margin: 0 auto;

            @media #{$medium-only} {
                width: 92%;
            }

            @media #{$xlarge-up} {
                width: $content-body-xlarge-width;
            }
        }
    }

    &__related-content {
        // This will get replaced when DHO-157 is played
        // https://jira.bauermedia.net.au/jira/browse/DHO-157
        display: none;
    }
} 
