.main-wrapper {
    padding: {
        left: $column-gutter/2;
        right: $column-gutter/2;
    }

    @media #{$xlarge-up} {
        padding: {
            left: $column-gutter;
            right: $column-gutter;
        }
    }
}
